<html>
<head>
</head>
<body>
    <h1>Mi Red Social</h1>
    @RenderBody()
    <br />
    <hr />
    <i style="font-size: 9px; color: red;">Reporte generado el @RedSocial.Helper.ViewHelper.getDate(true)</i>
</body>
</html>